/****************************************
# Control Panel - Module for login
# Brifcase: https://www.techteks.net
# Date: 10/26/2020
# @author Alejandro Quezada
# @version v1.0.0
#*****************************************/
body{
  background-color: rgba(0, 0, 0, 0.1);
}
nav{
  background-color: #161d27;
  color: #fff;
}
.padding-topbottom{
  padding-top: 100px;
  padding-bottom: 50px;
}

h1,h2,h3,h4,h5{
  text-align: center;
}
ion-icon{
  color: #fff;
  vertical-align: middle;
}
.dropdown-item ion-icon{
  font-size: 20px;
  color: #161d27;
  vertical-align: middle;
}
.table-style{
  padding-top: 10px;
}
.table-responsive{
  overflow-y: scroll;
  height:440px;
}
@media screen and (max-width: 750px){
  .table-responsive{
    overflow-y: scroll;
    height:300px;
  }
  .table-style{
    padding-top: 20px;
    padding-bottom: 0;
  }
}
.table-style thead{
  color: #fff;
  background-color: #161d27;
}
.table-style th{
  text-align: center;
}
.table-style tbody{
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}
.error{
  color: red;
}
.btn{
  margin: 2px;
  cursor: pointer;
}
#balance{
  background-color: #fff;
  color: #161d27;
  margin-top: 20px;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 1px;
  border-radius: 5px;
}